<mat-toolbar>
  <mat-toolbar-row style="background: #f4f5fb">
    <div
      class="flex w-full flex-row justify-content-between align-items-center"
    >
      <img
        ngSrc="/assets/millenia.png"
        width="150"
        height="100"
        alt="millenia logo"
      />
    </div>
    <div class="flex align-items-center gap-5">
      <mat-icon fontIcon="mail" style="color: #3d429a"></mat-icon>
      <mat-icon fontIcon="settings_power" style="color: #3d429a"></mat-icon>
      <div class="flex flex-row gap-3 align-items-center">
        <div class="flex flex-column align-items-end justify-items-around">
          <div style="color: #3d429a; font-size: 14px">Hello</div>
          <div style="color: #3d429a; font-size: 10px">Username</div>
        </div>
        <mat-icon fontIcon="account_circle" style="color: #3d429a"></mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened>
    <div class="flex flex-column w-full justify-content-center">
      <img
        ngSrc="/assets/millenia.png"
        width="150"
        height="100"
        alt="millenia logo"
      />
      <mat-icon>dashboard</mat-icon>
      <mat-icon>swap_horiz</mat-icon>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
